@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 0 0% 100%;                    /*Blanco Puro*/
    --foreground: 222.2 84% 4.9%;               /*Negro Fuerte Azulado*/
    --card: 0 0% 100%;                          /*Blanco Puro*/
    --card-foreground: 222.2 84% 4.9%;          /*Negro Fuerte Azulado*/
    --popover: 0 0% 100%;                       /*Blanco Puro*/
    --popover-foreground: 222.2 84% 4.9%;       /*Negro Fuerte Azulado*/
    --primary: 221.2 83.2% 53.3%;               /*Azul Normal*/
    --primary-foreground: 210 40% 98%;          /*Blanco Griseso*/
    --secondary: 210 40% 96.1%;                 /*Blanco Griseso*/
    --secondary-foreground: 222.2 47.4% 11.2%;  /*Azul Oscuro Casi Negro*/
    --muted: 210 40% 96.1%;                     /*Blanco Griseso*/
    --muted-foreground: 215.4 16.3% 46.9%;      /*Gris Oscuro*/
    --accent: 210 40% 96.1%;                    /*Blanco Griseso*/
    --accent-foreground: 222.2 47.4% 11.2%;     /*Azul Oscuro Casi Negro*/
    --destructive: 0 84.2% 60.2%;               /*Rojo*/
    --destructive-foreground: 210 40% 98%;      /*Blanco Griseso*/
    --border: 214.3 31.8% 91.4%;                /*Gris Claro Casi Blanco*/
    --input: 214.3 31.8% 91.4%;                 /*Gris Claro Casi Blanco*/
    --ring: 221.2 83.2% 53.3%;                  /*Azul Normal*/
    --radius: 0.5rem; /*No es color*//**/
  }

  .dark {
    --background: 0 0% 9%;                    /*Negro*/
    --foreground: 210 40% 98%;                /*Blanco Grisoso*/
    --card: 0 0% 9%;                          /*Negro*/
    --card-foreground: 210 40% 98%;           /*Blanco Grisoso*/
    --popover: 222.2 84% 4.9%;                /*Negro*/
    --popover-foreground: 210 40% 98%;        /*Blanco Grisoso*/
    --primary: 190 76% 82%;                   /*Azul*/
    --primary-foreground: 222.2 47.4% 11.2%;  /*Negro Azulado*/
    --secondary: 217.2 32.6% 17.5%;           /*Azul Oscuro*/
    --secondary-foreground: 210 40% 98%;      /*Blanco Grisoso*/
    --muted: 217.2 32.6% 17.5%;               /*Azul Oscuro*/
    --muted-foreground: 215 20.2% 65.1%;      /*Gris*/
    --accent: 217.2 32.6% 17.5%;              /*Azul Oscuro*/
    --accent-foreground: 210 40% 98%;         /*Blanco Grisoso*/
    --destructive: 0 62.8% 30.6%;             /*Rojo Sangre*/
    --destructive-foreground: 210 40% 98%;    /*Blanco Grisoso*/
    --border: 217.2 32.6% 17.5%;              /*Azul Oscuro*/
    --input: 217.2 32.6% 17.5%;               /*Azul Oscuro*/
    --ring: 224.3 76.3% 48%;                  /*Azul*/
  }
}


/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
} */

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}